/** Fonts */
@font-face {
  font-family: "Estedad-SemiBold";
  src: url("./assets/fonts/Estedad-FD-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Estedad-Bold";
  src: url("./assets/fonts/Estedad-FD-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Estedad-Medium";
  src: url("./assets/fonts/Estedad-FD-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Estedad-ExtraBold";
  src: url("./assets/fonts/Estedad-FD-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Estedad-Regular";
  src: url("./assets/fonts/Estedad-FD-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./assets/img/in.png");
  background-repeat: repeat;
}

/** Header */
.header {
  margin-top: 78px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-menu {
  position: relative;
}

.header-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 32px;
  background-color: #dffca1;
  border: 0px;
  padding: 7px 21px;
  width: 137px;
  height: 40px;
}

.header-menu-button-title,
.header-menu-submenu-button-title {
  font-family: "Estedad-Bold";
  font-size: 14px;
  font-weight: bold;
  color: #094020;
}

.header-menu-button:hover,
.header-menu-submenu-button:hover {
  cursor: pointer;
}

.header-menu-submenu {
  position: absolute;
  overflow: hidden;

  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;

  transition: transform 0.5s ease, opacity 0.4s ease;
}

.header-menu-submenu.show {
  transform: scaleY(1);
  opacity: 1;
}

.header-menu-submenu-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  border-radius: 32px;
  background-color: #dffca1;
  border: 0px;
  padding: 7px 21px;
  width: 137px;
  height: 40px;
}

.header-menu-submenu button {
  margin-top: 12px;
}

.header-menu-submenu-button-title {
  font-family: "Estedad-Bold";
  font-size: 14px;
  font-weight: bold;
  color: #094020;
}

.header-menu-submenu-button-title {
  color: #093f20;
}

.header-menu-submenu-button:hover .header-menu-submenu-button-title {
  color: #dffca1;
}

.header-title {
  font-family: "Estedad-SemiBold";
  font-size: 16px;
  font-weight: bold;
  color: #093f20;
}

.header-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 123px;
}

.header-details-first-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row-reverse;
}

.header-details-first-text span {
  font-family: "Estedad-Bold";
  font-size: 40px;
  font-weight: bold;
  color: #094020;
}

.header-details-second-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.header-details-second-text span {
  font-family: "Estedad-Medium";
  font-size: 36px;
  color: #094020;
}

.header-details-arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.header-details-first-text span:last-child {
  margin-left: auto;
}

/* Range Slider */
.range-slider-container {
  width: 1024px;
  height: 326px;
  background-color: #f2f2f0;
  border-radius: 40px;
  margin: 0 auto;
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.range-slider-container-top-section,
.slider-container-top-section,
.tab-menu-container-top-section,
.singUp-form-container-top-section {
  width: 976px;
  height: 61px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-slider-container-top-section-english-title span,
.slider-container-top-section-english-title span,
.tab-menu-container-top-section-english-title span,
.singUp-form-container-top-section-english-title span {
  font-family: "Estedad-Bold";
  font-size: 20px;
  font-weight: bold;
  color: #094020;
}

.range-slider-container-top-section-english-title,
.slider-container-top-section-english-title,
.tab-menu-container-top-section-english-title,
.singUp-form-container-top-section-english-title {
  padding-left: 22px;
}

.range-slider-container-top-section-persian-title,
.slider-container-top-section-persian-title,
.tab-menu-container-top-section-persian-title,
.singUp-form-container-top-section-persian-title {
  padding-right: 22px;
}

.range-slider-container-top-section-persian-title span,
.slider-container-top-section-persian-title span,
.tab-menu-container-top-section-persian-title span,
.singUp-form-container-top-section-persian-title span {
  font-family: "Estedad-Bold";
  font-size: 16px;
  font-weight: bold;
  color: #094020;
}

.range-slider-container-bottom-section {
  width: 976px;
  height: 208px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.range-slider-container-bottom-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 3px;
}

.range-slider-container-bottom-section-text span {
  font-family: "Estedad-Medium";
  font-size: 16px;
  color: #093f20;
}

.range-slider-container-bottom-section-text-number {
  font-family: "Estedad-ExtraBold";
  font-size: 40px;
  color: #093f20;
  margin-bottom: 11px;
}

.range-slider-container-bottom-section-helper-section {
  position: relative;
}

.range-slider-container-bottom-section-helper-section:hover {
  cursor: pointer;
}

.range-slider-container-bottom-section-helper-text {
  width: 313px;
  height: 136px;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  bottom: 33px;
  right: -145px;
  box-shadow: -1px 0px 6px 1px #c9c9c9;

  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: 0.25s ease;
  z-index: 10;
}

.range-slider-container-bottom-section-helper-text.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.range-slider-container-bottom-section-helper-text-top-section {
  height: 44px;
  background-color: #dffca1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 0px 8px;
}

.range-slider-container-bottom-section-helper-text-top-section span {
  font-family: "Estedad-SemiBold";
  font-size: 14px;
  color: #093f20;
}

.range-slider-container-bottom-section-helper-text-bottom-section {
  padding: 0px 8px;
  text-align: end;
  margin-top: 10px;
}

.range-slider-container-bottom-section-helper-text-bottom-section span {
  font-family: "Estedad-Regular";
  font-size: 12px;
  color: #093f20;
}

.range-slider-container-bottom-section-helper-text-bottom-section-arrow {
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

.range-slider-container-bottom-section-text-image {
  position: relative;
}

.range-slider-container-bottom-section-text-image:hover {
  cursor: pointer;
}

.range-slider-container-bottom-section-slider-wrapper {
  width: 871px;
  height: 69px;
  background-color: #dffca1;
  border-radius: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ededed;
}

.range-slider-container-bottom-section-slider-wrapper-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.range-slider-container-bottom-section-slider-wrapper-tracker-section {
  width: 798px;
  height: 2px;
  background: #fff;
  border-radius: 122px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.range-slider-container-bottom-section-slider-wrapper-text {
  font-family: "Estedad-Bold";
  font-size: 14px;
  color: #093f20;
}

.range-slider-container-bottom-section-slider-wrapper-separator-line span {
  width: 6px;
  height: 5px;
  border-left: 1px solid #093f20;
  opacity: 20%;
  margin-left: 2px;
}

.range-slider-container-bottom-section-slider-wrapper-ticks,
.range-slider-container-bottom-section-slider-wrapper-separator-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 705px;
}

.range-slider-container-bottom-section-slider-wrapper-ticks span {
  font-family: "Estedad-Medium";
  font-size: 12px;
  color: #093f20;
}

.range-slider-container-bottom-section-slider-wrapper-tracker-section-bar {
  width: 50px;
  height: 2px;
  background-color: #093f20;
  border-radius: 122px;
}

.range-slider-container-bottom-section-slider-wrapper-tracker-section-thumb {
  height: 12px;
  width: 12px;
  background: #00451e;
  border-radius: 50%;
}

/* Slider */
.slider-container {
  width: 1024px;
  height: 627px;
  background-color: #f2f2f0;
  border-radius: 40px;
  margin: 0 auto;
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-container-bottom-section {
  width: 976px;
  height: 504px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  gap: 32px;
  position: relative;
}

.slider-container-bottom-section-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.slider-container-bottom-section-slider-image-container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.slider-container-bottom-section-slider-image-container-slide {
  width: 549px;
  height: 349px;
  display: flex;
  justify-content: flex-end;
}

.slider-container-bottom-section-blur {
  width: 192px;
  height: 349px;
  position: absolute;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff9e);
  z-index: 10;
  top: 49px;
  left: 0;
}

.slider-container-bottom-section-last-slide-blur {
  width: 192px;
  height: 349px;
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff9e);
  top: 49px;
  right: 0;
}

.slider-container-bottom-section-buttons-arrow-left,
.slider-container-bottom-section-buttons-arrow-right {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #dffca1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container-bottom-section-buttons-arrow-left:hover,
.slider-container-bottom-section-buttons-arrow-right:hover {
  cursor: pointer;
}

.slider-container-bottom-section-buttons-dot-container {
  width: 128px;
  height: 32px;
  background-color: #dffca1;
  border-radius: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.slider-container-bottom-section-buttons-dot-container-single-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider-container-bottom-section-slider-image-container-slide-last {
  width: 549px;
  height: 349px;
  display: flex;
  justify-content: flex-start;
}

/* Tab Menu */
.tab-menu-container {
  width: 1024px;
  height: 627px;
  background-color: #f2f2f0;
  border-radius: 40px;
  margin: 0 auto;
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-menu-container-bottom-section {
  width: 976px;
  height: 504px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 32px;
}

.tab-menu-container-bottom-section-menu {
  width: 846px;
  height: 48px;
  background-color: #dffca1;
  border-radius: 16px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 37px;
}

.tab-menu-container-bottom-section-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 40px;
}

.tab-menu-container-bottom-section-menu-item:hover {
  cursor: pointer;
}

.tab-menu-container-bottom-section-menu-item span {
  font-family: "Estedad-Bold";
  font-size: 14px;
  font-weight: bold;
  color: #094020;
  margin-right: 4px;
}
.tab-menu-container-bottom-section-menu-item.active {
  background-color: #fff;
  border-radius: 12px;
}

.tab-menu-container-bottom-section-details-container {
  width: 800px;
  height: 373px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 15px;
}

.tab-menu-container-bottom-section-details-container-right-section {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
  width: 421px;
  height: 315px;
  text-align: justify;
  line-height: 2;
  text-align-last: right;
}

.tab-menu-container-bottom-section-details-container-right-section-title-container {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.tab-menu-container-bottom-section-details-container-right-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  margin-bottom: 15px;
}

.tab-menu-container-bottom-section-details-container-right-section-title span {
  font-family: "Estedad-Bold";
  font-size: 18px;
  font-weight: bold;
  color: #094020;
  display: inline-block;
  opacity: 0;
  transform: translateX(15px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tab-menu-container-bottom-section-details-container-right-section-title
  span.show {
  opacity: 1;
  transform: translateX(0);
}

.tab-menu-container-bottom-section-details-container-right-section-image {
  width: 36px;
  height: 36px;
  border: 1px solid #093f2038;
  background: #f2f2f0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-menu-container-bottom-section-details-container-right-section-text {
  direction: rtl;
}

.tab-menu-container-bottom-section-details-container-right-section-text span {
  font-family: "Estedad-Regular";
  font-size: 14px;
  color: #094020;
}

.tab-menu-container-bottom-section-details-container-right-section-button {
  width: 150px;
  height: 35px;
  background-color: #093f20;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 4px 12px;
}

.tab-menu-container-bottom-section-details-container-right-section-button span {
  font-family: "Estedad-Medium";
  font-size: 14px;
  color: #fff;
}

.tab-menu-container-bottom-section-details-container-left-section {
  width: 296px;
  height: 397px;
  background: #f2f2f0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pop Up */
.pop-up-container {
  width: 1111px;
  height: 681px;
  background-color: #ffffff;
  border-radius: 40px;
  position: absolute;
  top: 170%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: -4px -2px 9px 8px #a8a8a8;
  z-index: 20;
}

.pop-up-container-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.pop-up-container-top-section span {
  font-family: "Estedad-SemiBold";
  font-size: 20px;
  color: #093f20;
}

.pop-up-container-bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: none;
}

.pop-up-container-top-section img:hover {
  cursor: pointer;
}

.tab-menu-container-bottom-section-details-container-left-section:hover {
  cursor: pointer;
}

/* Sign up menu */
.singUp-form-container {
  width: 1024px;
  height: 627px;
  background-color: #f2f2f0;
  border-radius: 40px;
  margin: 0 auto;
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singUp-form-container-bottom-section {
  width: 976px;
  height: 504px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.singUp-form-container-bottom-section-details {
  width: 398px;
  height: 100%;
  background-color: #dffca1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singUp-form-container-bottom-section-details-image-line {
  position: absolute;
  top: 323px;
  left: 287px;
}

.singUp-form-container-bottom-section-details-dynamic-container {
  background-color: white;
  width: 211px;
  position: absolute;
  top: 187px;
  left: 106px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  border-radius: 16px;
  overflow: hidden;
}

.signup-dynamic-details-text-container {
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signup-dynamic-details-text-container.moveup {
  transform: translateY(-80px);
}

.signup-dynamic-details-text-container.movedown {
  transform: translateY(0px);
}

.singUp-form-container-bottom-section-details-dynamic-better {
  font-family: "Poppins-Bold";
  font-size: 50px;
  position: relative;
  bottom: 10px;
  color: #093f20;
}

.singUp-form-container-bottom-section-details-dynamic-easier {
  font-family: "Poppins-Bold";
  font-size: 50px;
  color: #093f20;
  position: relative;
  bottom: 4px;
}

.singUp-form-container-bottom-section-details-circle {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #dffca1;
  position: absolute;
  left: 365px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singUp-form-container-bottom-section-user-data {
  display: flex;
  flex-direction: column;
  padding: 30px 74px;
}

.singUp-form-container-bottom-section-user-data-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.singUp-form-container-bottom-section-user-data-information span {
  font-family: "Estedad-Regular";
  font-size: 14px;
  color: #093f20;
  display: flex;
  align-items: center;
  justify-content: end;
}

.singUp-form-container-bottom-section-user-data-text-field {
  width: 381px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 12px 10px;
}

.singUp-form-container-bottom-section-user-data-text-field span {
  font-family: "Estedad-Regular";
  font-size: 13px;
  color: #777777;
  width: 100%;
}

.singUp-form-container-bottom-section-user-data-text-field img {
  display: none;
}

.singUp-form-container-bottom-section-password-condition {
  display: flex;
  flex-direction: column;
  direction: rtl;
  gap: 8px;
}

.singUp-form-container-bottom-section-password-condition span {
  font-family: "Estedad-Regular";
  font-size: 13px;
  color: #777777;
}

.singUp-form-container-bottom-section-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.singUp-form-container-bottom-section-buttons-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ededed;
  padding: 8px 45px;
  border-radius: 8px;
}

.singUp-form-container-bottom-section-buttons-cancel span {
  font-family: "Estedad-Medium";
  font-size: 14px;
  color: #777777;
}

.singUp-form-container-bottom-section-buttons-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 98px;
  border-radius: 8px;
  background-color: #093f20;
  border-radius: 8px;
  gap: 8px;
  opacity: 30%;
}

.singUp-form-container-bottom-section-buttons-signup span {
  font-family: "Estedad-Medium";
  font-size: 14px;
  color: #ffffff;
}

.singUp-form-container-bottom-section-user-data:hover {
  cursor: pointer;
}

#password-placeholder {
  direction: rtl;
  justify-content: flex-start;
}

#password-placeholder:hover {
  cursor: pointer;
}

.singUp-form-container-bottom-section-cancellation-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  display: none;
}

.singUp-form-container-bottom-section-cancellation-form.fading {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.singUp-form-container-bottom-section-cancellation-form-first-text {
  font-family: "Estedad-Bold";
  font-size: 18px;
  color: #3f0909;
  direction: rtl;
  margin-top: 20px;
  opacity: 0;
}

.singUp-form-container-bottom-section-cancellation-form-second-text {
  font-family: "Estedad-Regular";
  font-size: 14px;
  color: #777777;
  direction: rtl;
  opacity: 0;
}

.singUp-form-container-bottom-section-cancellation-form-buttons {
  width: 86px;
  height: 28px;
  border-radius: 122px;
  border: 1px solid #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  opacity: 0;
}

.singUp-form-container-bottom-section-cancellation-form-buttons span {
  font-family: "Estedad-Medium";
  font-size: 14px;
  color: #3f0909;
}

.singUp-form-container-bottom-section-cancellation-form-buttons:hover {
  cursor: pointer;
}

.singUp-form-container-bottom-section-cancellation-form-first-text.fading,
.singUp-form-container-bottom-section-cancellation-form-second-text.fading,
.singUp-form-container-bottom-section-cancellation-form-buttons.fading {
  transition: opacity 1s ease;
  opacity: 1;
}

.singUp-form-container-bottom-section-cancellation-form-icon {
  width: 82px;
  height: 82px;
  border-radius: 122px;
  background-color: #ffd4d4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
  transition-delay: 0.5s;
}

.singUp-form-container-bottom-section-cancellation-form-icon img {
  width: 50px;
  height: 50px;
}

.singUp-form-container-bottom-section-cancellation-form-icon.move {
  transform: translateY(10px) scale(1.2);
}

.singUp-form-container-bottom-section-success-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  display: none;
}

.singUp-form-container-bottom-section-success-form-first-text {
  font-family: "Estedad-Bold";
  font-size: 18px;
  color: #093f20;
  direction: rtl;
}

.singUp-form-container-bottom-section-success-form-second-text {
  font-family: "Estedad-Regular";
  font-size: 14px;
  color: #777777;
  direction: rtl;
}

.singUp-form-container-bottom-section-success-form-buttons {
  width: 86px;
  height: 28px;
  border-radius: 122px;
  border: 1px solid #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.singUp-form-container-bottom-section-success-form-buttons span {
  font-family: "Estedad-Medium";
  font-size: 14px;
  color: #093f20;
}

.singUp-form-container-bottom-section-success-form-buttons:hover {
  cursor: pointer;
}

.singUp-form-container-bottom-section-success-form-icon {
  width: 82px;
  height: 82px;
  border-radius: 122px;
  background-color: #dffca1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* End Section */
.end-section {
  position: relative;
  width: 700px;
  margin: 20px auto;
}

.end-section span {
  font-family: "Estedad-Bold";
  font-size: 159px;
  color: #000;
  opacity: 10%;
}

.end-section img {
  position: absolute;
  top: 0;
  right: 1;
}

.separator {
  width: 637px;
  height: 56px;
  border-right: 4px dotted #ededed;
  border-left: 4px dotted #ededed;
  margin: 0 auto;
}
