/** Fonts */
@font-face {
  font-family: "Estedad-SemiBold";
  src: url("./assets/fonts/Estedad-FD-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Estedad-Bold";
  src: url("./assets/fonts/Estedad-FD-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Estedad-Medium";
  src: url("./assets/fonts/Estedad-FD-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Estedad-ExtraBold";
  src: url("./assets/fonts/Estedad-FD-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Estedad-Regular";
  src: url("./assets/fonts/Estedad-FD-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/** Body */
body {
  margin-top: 78px;
  /* background-image: url("./assets/img/cover2.png");

  background-position: center;
  background-repeat: repeat; */
  height: 100vh;
}

/** Classes */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-menu {
  position: relative;
}

.header-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 32px;
  background-color: #dffca1;
  border: 0px;
  padding: 7px 21px;
  width: 137px;
  height: 40px;
}

.header-menu-button-title,
.header-menu-submenu-button-title {
  font-family: "Estedad-Bold";
  font-size: 14px;
  font-weight: bold;
  color: #094020;
}

.header-menu-button:hover,
.header-menu-submenu-button:hover {
  cursor: pointer;
}

.header-menu-submenu {
  display: none;
  position: absolute;
}

.header-menu-submenu-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  border-radius: 32px;
  background-color: #dffca1;
  border: 0px;
  padding: 7px 21px;
  width: 137px;
  height: 40px;
}

.header-menu-submenu button {
  margin-top: 12px;
}

.header-menu-submenu-button-title {
  font-family: "Estedad-Bold";
  font-size: 14px;
  font-weight: bold;
  color: #094020;
}

.header-menu-submenu-button-title {
  color: #093f20;
}

.header-menu-submenu-button:hover .header-menu-submenu-button-title {
  color: #dffca1;
}

.header-title {
  font-family: "Estedad-SemiBold";
  font-size: 16px;
  font-weight: bold;
  color: #093f20;
}

.header-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 123px;
}

.header-details-first-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row-reverse;
}

.header-details-first-text span {
  font-family: "Estedad-Bold";
  font-size: 40px;
  font-weight: bold;
  color: #094020;
}

.header-details-second-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.header-details-second-text span {
  font-family: "Estedad-Medium";
  font-size: 36px;
  color: #094020;
}

.header-details-arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-details-first-text span:last-child {
  margin-left: auto;
}

/* Range Slider */
.range-slider-container {
  width: 1024px;
  height: 326px;
  background-color: #f2f2f0;
  border-radius: 40px;
  margin: 0 auto;
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.range-slider-container-top-section,
.slider-container-top-section,
.tab-menu-container-top-section {
  width: 976px;
  height: 61px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-slider-container-top-section-english-title span,
.slider-container-top-section-english-title span,
.tab-menu-container-top-section-english-title span {
  font-family: "Estedad-Bold";
  font-size: 20px;
  font-weight: bold;
  color: #094020;
}

.range-slider-container-top-section-english-title,
.slider-container-top-section-english-title,
.tab-menu-container-top-section-english-title {
  padding-left: 22px;
}

.range-slider-container-top-section-persian-title,
.slider-container-top-section-persian-title,
.tab-menu-container-top-section-persian-title {
  padding-right: 22px;
}

.range-slider-container-top-section-persian-title span,
.slider-container-top-section-persian-title span,
.tab-menu-container-top-section-persian-title span {
  font-family: "Estedad-Bold";
  font-size: 16px;
  font-weight: bold;
  color: #094020;
}

.range-slider-container-bottom-section {
  width: 976px;
  height: 208px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.range-slider-container-bottom-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 3px;
}

.range-slider-container-bottom-section-text span {
  font-family: "Estedad-Medium";
  font-size: 16px;
  color: #093f20;
}

.range-slider-container-bottom-section-text-number {
  font-family: "Estedad-ExtraBold";
  font-size: 40px;
  color: #093f20;
  margin-bottom: 11px;
}

.range-slider-container-bottom-section-helper-section {
  position: relative;
}

.range-slider-container-bottom-section-helper-section:hover {
  cursor: pointer;
}

.range-slider-container-bottom-section-helper-text {
  width: 313px;
  height: 136px;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  bottom: 33px;
  right: -145px;
  box-shadow: -1px 0px 6px 1px #c9c9c9;

  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: 0.25s ease;
  z-index: 10;
}

.range-slider-container-bottom-section-helper-text.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.range-slider-container-bottom-section-helper-text-top-section {
  height: 44px;
  background-color: #dffca1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 0px 8px;
}

.range-slider-container-bottom-section-helper-text-top-section span {
  font-family: "Estedad-SemiBold";
  font-size: 14px;
  color: #093f20;
}

.range-slider-container-bottom-section-helper-text-bottom-section {
  padding: 0px 8px;
  text-align: end;
  margin-top: 10px;
}

.range-slider-container-bottom-section-helper-text-bottom-section span {
  font-family: "Estedad-Regular";
  font-size: 12px;
  color: #093f20;
}

.range-slider-container-bottom-section-helper-text-bottom-section-arrow {
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

.range-slider-container-bottom-section-text-image {
  position: relative;
}

.range-slider-container-bottom-section-text-image:hover {
  cursor: pointer;
}

.range-slider-container-bottom-section-slider-wrapper {
  width: 871px;
  height: 69px;
  background-color: #dffca1;
  border-radius: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ededed;
}

.range-slider-container-bottom-section-slider-wrapper-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.range-slider-container-bottom-section-slider-wrapper-tracker-section {
  width: 798px;
  height: 2px;
  background: #fff;
  border-radius: 122px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.range-slider-container-bottom-section-slider-wrapper-text {
  font-family: "Estedad-Bold";
  font-size: 14px;
  color: #093f20;
}

.range-slider-container-bottom-section-slider-wrapper-separator-line span {
  width: 6px;
  height: 5px;
  border-left: 1px solid #093f20;
  opacity: 20%;
  margin-left: 2px;
}

.range-slider-container-bottom-section-slider-wrapper-ticks,
.range-slider-container-bottom-section-slider-wrapper-separator-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 705px;
}

.range-slider-container-bottom-section-slider-wrapper-ticks span {
  font-family: "Estedad-Medium";
  font-size: 12px;
  color: #093f20;
}

.range-slider-container-bottom-section-slider-wrapper-tracker-section-bar {
  width: 50px;
  height: 2px;
  background-color: #093f20;
  border-radius: 122px;
}

.range-slider-container-bottom-section-slider-wrapper-tracker-section-thumb {
  height: 12px;
  width: 12px;
  background: #00451e;
  border-radius: 50%;
}

/* Slider */
.slider-container {
  width: 1024px;
  height: 627px;
  background-color: #f2f2f0;
  border-radius: 40px;
  margin: 0 auto;
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-container-bottom-section {
  width: 976px;
  height: 504px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  gap: 32px;
}

.slider-container-bottom-section-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.slider-container-bottom-section-slider-image-container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.slider-container-bottom-section-slider-image-container-slide {
  width: 549px;
  height: 349px;
  display: flex;
  justify-content: flex-end;
}

.slider-container-bottom-section-buttons-arrow-left,
.slider-container-bottom-section-buttons-arrow-right {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #dffca1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container-bottom-section-buttons-arrow-left:hover,
.slider-container-bottom-section-buttons-arrow-right:hover {
  cursor: pointer;
}

.slider-container-bottom-section-buttons-dot-container {
  width: 128px;
  height: 32px;
  background-color: #dffca1;
  border-radius: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.slider-container-bottom-section-buttons-dot-container-single-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider-container-bottom-section-slider-image-container-slide-last {
  width: 549px;
  height: 349px;
  display: flex;
  justify-content: flex-start;
}

/* Tab Menu */
.tab-menu-container {
  width: 1024px;
  height: 627px;
  background-color: #f2f2f0;
  border-radius: 40px;
  margin: 0 auto;
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-menu-container-bottom-section {
  width: 976px;
  height: 504px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 32px;
}

.tab-menu-container-bottom-section-menu {
  width: 846px;
  height: 48px;
  background-color: #dffca1;
  border-radius: 16px;
  padding: 0px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 37px;
}

.tab-menu-container-bottom-section-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 40px;

  /* width: 100%;
  background: none;
  height: auto; */
}

.tab-menu-container-bottom-section-menu-item:hover {
  cursor: pointer;
}

.tab-menu-container-bottom-section-menu-item span {
  font-family: "Estedad-Bold";
  font-size: 14px;
  font-weight: bold;
  color: #094020;
  margin-right: 4px;
}

.tab-menu-container-bottom-section-menu-item.active {
  background-color: #fff;
  border-radius: 12px;
}

.tab-menu-container-bottom-section-details-container {
  width: 800px;
  height: 373px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 15px;
}

.tab-menu-container-bottom-section-details-container-right-section {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
  width: 421px;
  height: 315px;
  text-align: justify;
  line-height: 2;
  text-align-last: right;
}

.tab-menu-container-bottom-section-details-container-right-section-title-conatiner {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.tab-menu-container-bottom-section-details-container-right-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  margin-bottom: 15px;
}

.tab-menu-container-bottom-section-details-container-right-section-title span {
  font-family: "Estedad-Bold";
  font-size: 18px;
  font-weight: bold;
  color: #094020;
}

.tab-menu-container-bottom-section-details-container-right-section-image {
  width: 36px;
  height: 36px;
  border: 1px solid #093f2038;
  background: #f2f2f0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-menu-container-bottom-section-details-container-right-section-text {
  direction: rtl;
}

.tab-menu-container-bottom-section-details-container-right-section-text span {
  font-family: "Estedad-Regular";
  font-size: 14px;
  color: #094020;
}

.tab-menu-container-bottom-section-details-container-right-section-button {
  width: 173px;
  height: 35px;
  background-color: #093f20;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 4px 12px;
}

.tab-menu-container-bottom-section-details-container-right-section-button span {
  font-family: "Estedad-Medium";
  font-size: 14px;
  color: #fff;
}

.tab-menu-container-bottom-section-details-container-left-section {
  width: 296px;
  height: 397px;
  background: #f2f2f0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pop Up */
.pop-up-container {
  width: 1111px;
  height: 681px;
  background-color: #ffffff;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: -4px -2px 9px 8px #a8a8a8;
  z-index: 20;
}

.pop-up-container-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.pop-up-container-top-section span {
  font-family: "Estedad-SemiBold";
  font-size: 20px;
  color: #093f20;
}

.pop-up-container-bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: none;
}

.pop-up-container-top-section img:hover {
  cursor: pointer;
}

.tab-menu-container-bottom-section-details-container-left-section:hover {
  cursor: pointer;
}
